.todo{
    text-align: center;
    margin: 80px;
    padding-top: 20px;
    border: 1px dashed #f00;
}

.todo-logo,
.todo-form,
.todo-lists {
    margin: 10px;
    padding: 10px;
}

.input {
    margin: 10px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

.button {
    margin: 10px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    background-color: #143cde;
    color: #fff;
}

.todo-lists h3 {
    color: #f00;
    margin: 5px 0;
}

.todo-lists ul {
    text-decoration: none;
    list-style: none;
}

.todo-lists ul li {
    color: #843cae;
}

.todo-removeall {
    margin: 20px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    background-color: #143cde;
    color: #fff;
    border: none;
}

.todo-removeall:hover {
    background-color: #f00;
}